[submodule "services/shopbridge_order"]
	path = services/shopbridge_order
	url = https://github.com/mattsimoessilva/shopbridge_order.git
[submodule "services/shopbridge_product"]
	path = services/shopbridge_product
	url = https://github.com/mattsimoessilva/shopbridge_product.git
[submodule "services/shopbridge_logistics"]
	path = services/shopbridge_logistics
	url = https://github.com/mattsimoessilva/shopbridge_logistics.git
